#Diana {
    position: absolute;
    top: -200px;
    left: 0;
    z-index: 9999
}

#girl {
    width: 120px;
    height: 200px;
    cursor: pointer;
    background: url(http://www.l-y.win/Diana/Diana0.gif) no-repeat;
    background-size: contain
}

#message {
    font-size: 12px;
    max-width: 140px;
    color: #369;
    padding: 4px;
    background: #bedced;
    border: 1px solid #fbd;
    border-radius: 4px;
    box-shadow: 0 0 20px #fbd;
    position: absolute;
    top: 70px;
    left: -140px;
    z-index: 9999
}

.D-span {
    color: #09f;
    font-weight: bold
}